<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Tech Blog</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>
                <a href="/">MVC Tech Blog</a>
            </h1>
            <nav>
                <a href="/" class="nav-link">Home</a>
                {{#if loggedIn}}
                <a href="/dashboard" class="nav-link">Dashboard</a>
                <button id="logout" class="logout">Logout</button>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </nav>
            <div class="title-container">
                <h1>The Tech Blog</h1>
            </div>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thank you for visiting MVC Tech-blog!
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/homework/14-tech-blog/public/js/logout.js"></script>
    {{/if}}
</body>

</html>