{{> post-info post}}

{{#if loggedIn}}
<article class="post" id="comment-form">
    <form class="comment-form">
        <div>Comment</div>
        <div>
            <textarea name="comment-body"></textarea>
        </div>

        <div>
            <button type="submit" id="submit">Submit</button>
        </div>
    </form>
</article>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/homework/14-tech-blog/public/js/comment.js"></script>
{{/if}}