{{> post-info post}}
{{!-- When user logs in they're presented with comments on their feed --}}
{{#if loggedIn}}
<article class="post" id="comment-form">
    <form class="comment-form">
        <div>Comment</div>
        <div>
            <textarea name="comment-body"></textarea>
        </div>

        <div>
            <button type="submit" id="submit">Submit</button>
        </div>
    </form>
</article>
{{/if}}
{{!-- If there are previously existing comments they show here --}}
{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}