* {
    box-sizing: border-box;
  }
  
  body, html {
    background-color: rgb(155, 168, 189);
    color: rgb(85, 77, 77);
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    height: 100%;
    
    
}
.nav-link {
    margin-right: 18px;
  }

  nav {
    display: flex;
    padding: 30px 30px 5px 7px;
  }
  
 

  #logout {
    all: unset;
  }

  a, #logout {
    color: rgb(155, 168, 189);
    font-weight: bold;
    text-decoration: none;
    transition: color .1s;
  }
  
  a:hover {
    color: rgb(126, 151, 193);
  }
  
  
  #submit {
    border: rgb(79, 81, 91);
    color: rgba(143, 139, 165, 0.872);
    background-color: rgb(104, 83, 137);
    width: 100%;
    margin: 7px;
  } 
  .title-container h1 {
    color: rgb(35, 27, 95);
    background-color:rgb(155, 168, 189);
    border-radius: 10px;
    box-shadow: 8px 5px 2px rgba(135, 150, 173, 0.879);
    display: inline-block;
    padding: 12px;
  }
  
  #signup-instead {
    color: rgb(235, 225, 225);
  }

  #signup-instead:hover {
    background-color: #3486eb;
  }

  .user-info {
    float: right;
  }

  button:not(.logout) {
    background-color: rgb(155, 168, 189);
    color: rgb(24, 21, 79);
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 7px;
    border: 0;
    padding: 1%;
  }
  
  button:hover {
    background-color:rgb(155, 168, 189);
  }
  
  .post-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  textarea, input {
    padding: 12px;
    width: 100%;
    border-radius: 7px;
    border: 1px solid #ccc;
    
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 3px solid #3486eb;
  }
  
  textarea {
    min-width: 43%;
    min-height: 100px;
  }
  
  .form-box {
    border: solid;
    padding: 14px;
  }

  h2 {
    background-color: rgb(35, 27, 95);
    color:rgb(155, 168, 189);
    padding: 10px;
    margin: 0;
  }

  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    min-height: 100%;
    max-width: 1200px;
    flex-direction: column;
  }
  
  header {
    background-color: rgb(35, 27, 95);
    border-bottom: 1px solid rgb(155, 168, 189);
    padding: 0 1%;
  }
  
  header h1 {
    font-size: 2em;
  }
  
  main {
    flex: 1;
    padding: 3% 5%;
  }

  .delete-post-btn {
    background-color: #b82e2e;
  }
  
  .delete-post-btn:hover {
    background-color: #df5b3a;
  }

  ul {
    list-style-type: none;
  }
  
  .post {
    margin-bottom: 2%;
    padding: 12px;
    line-height: 150%;
    border: solid;
    
  }
  
  .post .title {
    background-color: rgb(35, 27, 95);
    color: rgb(107, 110, 118);
    padding: 10px;
  }


  .edit-link {
    color: rgb(26, 25, 28);
    display: block;
    margin: -1.5% 0 2% 0;
    
  }
  .post .title span {
    font-size: 90%;
    font-style: italic;
    color: #7d7d7d;
  }
  
 
  
  .upvote-btn {
    background-color: #0f3d7d;
    transition: background-color .1s;
  }
  
  .upvote-btn:hover {
    background-color: #2775b9;
  }
  
  .comments a {
    color: rgb(30, 30, 31);
    font-weight: normal;
  }
  .comment-form {
    margin-bottom: 5%;
  }

  #comment-form {
    border-top: 38px solid rgb(35, 27, 95);
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }
  .edit-post-form {
    margin-bottom: 5%;
  }